.todo {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid #5151dd;
  cursor: pointer;
}

.todo:hover {
  text-decoration: line-through;
}
